@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
html {
    scroll-behavior: smooth;
}
header {
   background-color: rgba(0, 0, 0, 0.192);
   font-family: "Edu NSW ACT Cursive", cursive;
}
.hero-img {
   background-image: url("./img/hero.png");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   text-align: center;
   height: 550px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: black;
}
h1 {
    font-size: 4rem;
}
.article_text_img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    text-align: center;
}
h2 {
    width: 60%;
    height: 40%;
}
h3 {
    width: 60%;
    height: 40%;
}